@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  html {
    font-family: "Lucida Calligraphy", cursive, serif;
  }
  a,
  P,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lucida Calligraphy", cursive, serif;
  }

  body {
    font-family: "Lucida Calligraphy", cursive, serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
